Source: pai
Section: contrib/games
Priority: extra
Maintainer: Laércio de Sousa <lbsousajr@gmail.com>
Build-Depends: debhelper (>= 6.0.0), git-core, lsb-release, librsvg2-bin, patch, quilt, unzip, wget
Standards-Version: 3.9.3
Homepage: http://www.orientadores.pmmc.com.br/cae/pai
Vcs-Git: git://github.com/oiteam/pmmc-pte-pai-debian.git
Vcs-Browser: https://github.com/oiteam/pmmc-pte-pai-debian.git

Package: pai-installer
Architecture: all
Section: contrib/oldlibs
Depends: ${misc:Depends}, pai (= ${binary:Version})
Description: Transitional package to pai
 This is just a dummy transitional package to new pai.
 It can be safely removed after pai is installed.

Package: pai-data-installer
Architecture: all
Section: contrib/oldlibs
Depends: ${misc:Depends}, pai-data (= ${binary:Version})
Description: Transitional package to pai-data
 This is just a dummy transitional package to new pai-data.
 It can be safely removed after pai-data is installed.

Package: pai-doc-installer
Architecture: all
Section: contrib/oldlibs
Depends: ${misc:Depends}, pai-doc (= ${binary:Version})
Description: Transitional package to pai-doc
 This is just a dummy transitional package to new pai-doc.
 It can be safely removed after pai-doc is installed.

Package: pai
Architecture: all
Depends: ${misc:Depends}, pai-client, pai-data (= ${binary:Version}), pai-doc (= ${binary:Version})
Conflicts: pai-installer (<< ${binary:Version})
Replaces: pai-installer (<< ${binary:Version})
Provides: pai-installer
Description: Metapackage for PAI standalone downloader/installer
 This simple metapackage installs all necessary components of PAI
 for standalone use.

Package: pai-data
Architecture: all
Depends: ${misc:Depends}
Conflicts: pai-data-installer (<< ${binary:Version}), pai (<< ${binary:Version})
Replaces: pai-data-installer (<< ${binary:Version})
Provides: pai-data-installer
Description: Automated downloader/installer for PAI (data)
 This metapackage downloads and installs the PAI data.
 PAI (Pacote de Atividades de Informática) is a set of activities/games
 for primary education, as part of the Educational Technology Program of
 Mogi das Cruzes, SP, Brazil.
 .
 WARNING: Installing this Ubuntu package causes the PAI tarball to
 be downloaded from the "Orientadores de Informática" web site.
 The distribution license of PAI is available at
 www.orientadores.pmmc.com.br/cae/pai. Installing this Ubuntu package implies
 that you have accepted the terms of that license.

Package: pai-doc
Architecture: all
Depends: ${misc:Depends}
Recommends: xdg-utils
Conflicts: pai-doc-installer (<< ${binary:Version}), pai (<< ${binary:Version})
Replaces: pai-doc-installer (<< ${binary:Version})
Provides: pai-doc-installer
Description: Automated downloader/installer for PAI (docs)
 This package downloads and installs the PAI documentation.
 PAI (Pacote de Atividades de Informática) is a set of activities/games for
 primary education, as part of the Educational Technology Program of
 Mogi das Cruzes, SP, Brazil.
 .
 WARNING: Installing this Ubuntu package causes the PAI tarball to
 be downloaded from the "Orientadores de Informática" web site.
 The distribution license of PAI is available at
 www.orientadores.pmmc.com.br/cae/pai. Installing this Ubuntu package implies
 that you have accepted the terms of that license.

Package: pai-client-minimal
Architecture: all
Depends: ${misc:Depends}, firefox | iceweasel, pai-data
Provides: pai-client
Suggests: pai-doc
Description: Minimal launcher for PAI
 This package installs a minimal script to launch PAI from a local installation.

Package: pai-server
Architecture: all
Depends: ${misc:Depends}, apache2, pai-data
Suggests: pai-client, pai-doc
Description: PAI web server
 This metapackage makes a PAI installation available in a web server.
